<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>送信が完了しました。</h2>
      内容は以下のとおりです。<br/>
      [タイトル]<br/>
      <%= @event_mail.title %><br/>
      [本文]<br/>
      <%= @event_mail.content %><br/>
    </div>
  </div>
</div>